@import "@/styles/variables.scss";

.leftbar {
    width: 99px;
    border-left: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;

    &_hr {
        margin: 0 20%;
        border: 1px solid $light-gray
    }

    &_sections {
        padding-top: 35px;
        width: 99px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &_section {

        }
    }
}

@media screen and (max-width: $laptop) {
    .leftbar {
        width: 63px;

        &_sections {
            padding-top: 17px;
            width: 63px;
        }
    }
}

@media screen and (max-width: $tablet) {
    .leftbar {
        width: 55px;

        &_sections {
            width: 55px;

            &_section {
                width: 20px;
                height: 20px;
            }
        }
    }
}

@media screen and (max-width: $phone) {
    .leftbar {
        width: 51px;

        &_sections {
            width: 51px;

            &_section {
                width: 16px;
                height: 16px;
            }
        }
    }
}