@import "@/styles/variables.scss";

.input {
    outline: none;

    padding: 16px 32px;
    border-radius: 100px;
    border: 1px solid $light-gray;

    background-color: inherit;

    &_disabled {
        opacity: 0.5;
    }
}