// Colors
$black: #000000;
$white: #ffffff;
$gray: #A0A8B1;
$gray-100: #E2E6E8;
$gray-200: #C4C4C4;
$light-gray: #F3F4F7;
$dark-gray: #5D7079;
$green: #007330;
$bright-green: #2DCC70;

// Dimensions
$fullhd: 1920px;
$desktop: 1280px;
$laptop: 1024px;
$tablet: 768px;
$phone: 480px;

// Typography
$h1: 32px;
$h2: 24px;
$h3: 18px;
$p1: 16px;
$p2: 12px;