@import "@/styles/variables.scss";

.middlecontent {
    margin-left: 25px;
    height: 100%;
    overflow: hidden;
    grid-column-start: 4;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 13;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: flex;
    flex-direction: column;

    &_event{
        padding-left: 25px;
        width: 100%;
        height: 30%;
        background-color: $green;
        border-radius: 5px;

        display: flex;
        justify-content: space-between;

        &_image {
            margin-top: 1%;
            width: auto;
            height: auto;
        }

        &_h {
            margin-top: 3%;
            margin-bottom: auto;
            height: fit-content;
            text-align: center;
            color: $white;
            font-size: $h1;
        }

        &_sector {
            width: auto;
            height: auto;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }

    &_matches {
        padding-top: 40px;
        height: 70%;
        display: flex;
        flex-direction: column;

        &_h {
            margin-bottom: 20px;
            color: $black;
            font-size: $h3;
            font-weight: 500;
        }

        &_list {
            overflow-y: auto;
            max-height: 100%;
            height: 100%;

            &::-webkit-scrollbar {
                display: none;
            }

            &_match {
                margin-bottom: 10px;
                padding-top: 2%;
                padding-bottom: 2%;
                padding-left: 2%;
                padding-right: 2%;
                background-color: $white;
                border-radius: 5px;

                display: flex;
                justify-content: space-between;
                align-items: center;

                &_team {
                    color: $gray;
                    font-size: $p1;
                }
            }
        }
    }
}

@media screen and (max-width: $fullhd) {
    .middlecontent {
    
        &_matches {

            &_list {

                &_match {
                    padding-top: 4%;
                    padding-bottom: 4%;
                }
            }
        }
    }
}

@media screen and (max-width: $laptop) {
    .middlecontent {
        margin-left: 20px;
    
        &_event {
            padding-left: 20px;
            height: 25%;
    
            &_h {
                margin-bottom: 16px;
                font-size: $h2;
            }
        }
    
        &_matches {
            padding-top: 30px;
            height: 75%;

            &_list {
                &_match {
                    padding-top: 4%;
                    padding-bottom: 4%;
                }
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    .middlecontent {
        margin-left: 16px;
    
        &_event {
            padding-left: 16px;
            height: 20%;
    
            &_h {
                font-size: $h3;
            }
        }
    
        &_matches {
            padding-top: 20px;
            height: 80%;

            &_h {
                margin-bottom: 12px;
                font-size: $p1;
            }

            &_list {
                &_match {
    
                    &_team {
                        font-size: $p1;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $phone) {
    .middlecontent {
        margin-left: 0;
        grid-column-start: 1;
    
        &_event {
            padding-left: 10px;

            &_h {
                font-size: $p2;
            }
        }
    
        &_matches {
            padding-top: 10px;

            &_h {
                margin-bottom: 6px;
                font-size: $p2;
            }

            &_list {
                &_match {
    
                    &_team {
                        font-size: $p2;
                    }
                }
            }
        }
    }
}